div {
    /*border: 1px solid black;*/
}

.prod_line {
    position: relative;
}

.prod_line td{
    font-weight: bold;
    padding: 3px;
}

.prod_line td:first-child{
    padding-right: 20px;
}

.prod_del {
    font-size: 130%;
    position: absolute;
    right: 10px;
    top: 0px;
    padding: 1px;
    cursor: pointer;
}

.fa-close {
    color: orange;
}

.fa-close:hover {
    color: red;
}